body {
    font-family: monospace;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
}

.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}